.contact_info {
 
  > div {
    margin: 0px 0 30px 0;

    svg {
      font-size: 14px;
      margin-right: 10px;
    }
    color: $color_dark_green;
  }

  .email {
    small {
      color: black;
      font-size: 12px;
    }
  }
}
