.custom_button {
  border: none;
  background-color: $color_light_green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    background-color: $color_dark_green;
    // color: ;
  }

  // color: white;z-index: 100;
  // opacity: 1;
}
