.header {
  display: flex;
  height: 120px;
  border-bottom: 2px solid $color_dark_green;

  .left {
    width: fit-content;
    @include flexCenter;
    border-top: 3px solid $color_light_green;
    width: 44%;
    > div {
      display: none;
    }

    .logo_text {
      h1 {
        font-size: 30px;
        margin: 0;
        color: #d22109;
        letter-spacing: -1px;

        // text-shadow: 2px 2px 1px rgba(128, 128, 128, 0.4);
      }

      p {
        margin: 0;
        // font-size: 14px;
        color: $color_dark_green;
      }

      @include respond-below(md) {
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 10px;
        }
      }
    }
    img {
      width: 100px;
      height: auto;
      // margin: 0 50px;
      margin-left: 90px;
    }
  }

  .right {
    width: 100%;
    .r_top {
      width: 100%;
      height: 60px;
      position: relative;
      display: flex;

      .content {
        background-color: $color_dark_green;
        width: 100%;
        margin-left: 60px;
        border-bottom: 3px solid $color_light_green;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 15%;
        gap: 30px;

        hr {
          background-color: white;
          border: none;
          width: 1px;
          height: 30px;
        }

        .social {
          display: flex;
          align-items: center;
          gap: 10px;

          > div {
            border: 1px solid rgba(255, 255, 255, 0.5);
            height: 30px;
            width: 30px;
            border-radius: 50%;
            @include flexCenter;
            color: white;
            cursor: pointer;
            &:hover {
              border: 1px solid white;
              color: $color_light_green;
            }
            svg {
              font-size: 14px;
            }
          }
        }
        .contact {
          color: white;
          display: flex;
          align-items: center;
          gap: 16px;

          h5 {
            margin: 0 0 3px 0;
            font-size: 14px;
            font-weight: 400;
          }

          p {
            font-size: 13px;
            opacity: 0.8;
            font-weight: 100;
          }
          svg {
            color: $color_light_green;
          }
        }
      }

      .over {
        position: absolute;
        background-color: $color_dark_green;
        height: 89px;
        width: 89px;
        transform: rotate(45deg);
        top: -47px;
        left: 15px;
        border-bottom: 3px solid $color_light_green;
      }
    }

    .r_bottom {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15%;
      gap: 50px;

      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 18px;

        &:hover,
        &.active {
          color: $color_light_green;
        }
      }
    }
  }
  .lg_top {
    display: none;
  }
  @include respond-below(lg) {
    display: unset;
    .lg_top {
      background-color: $color_dark_green;
      border-bottom: 3px solid $color_light_green;
      color: white;

      @include flexCenter;
      gap: 50px;

      @include respond-below(md) {
        flex-direction: column;
        gap: 0;
      }

      p {
        margin: 0 !important;
        font-weight: 100;
        font-size: 12px;
      }
    }
    .left {
      border: none;
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        margin: 0px;
        padding: 10px;
        width: 100px;
      }

      > div {
        display: unset;
        margin-right: 20px;
        font-size: 34px;
        cursor: pointer;
      }
    }
    .right {
      display: none;
      
    }
  }
}
