.opening {
  background-color: white;
  //   height: 100px;
  margin: 0 0 20px 0;
  padding: 16px;
  //   border-radius: 10px;

  &:not(.expanded) {
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
      box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 0.4);
    }
  }

  .top {
    display: flex;
    justify-content: space-between;

    svg {
      font-size: 30px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  h6 {
    font-weight: 600;
    margin-bottom: 12px;
  }

  .box {
    font-size: 12px;
    display: flex;
    gap: 10px;
    color: gray;
    margin-bottom: 8px;

    @include respond-above(md) {
      font-size: 14px;
    }

    > p {
      &:not(.expanded) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @supports (-webkit-line-clamp: 1) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: initial;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
  small {
    color: gray;
    font-size: 12px !important;
    max-width: fit-content;
    margin-top: 8px;
    .dot {
      font-weight: 800;
    }

    &:not(.expanded) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @supports (-webkit-line-clamp: 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }

  .short_desc {
    font-size: 13px;
    margin-top: 12px;
    color: rgb(71, 71, 71);

    &:not(.expanded) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  .desc {
    font-size: 13px;
    margin-top: 12px;
    color: rgb(71, 71, 71);
  }

  .more {
    // background-color: red;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: 10px;
  }
}
