@import "~bootstrap/dist/css/bootstrap.min.css";

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
  /* background-color: #102e19; */
  /* background-color: #9cc212; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9cc212;
  /* background: #102e19; */
  border-radius: 10px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  scroll-behavior: smooth !important;
}
p {
  margin: 0;
  padding: 0;
}
